<% provide(:title, 'Create Task') %>
<h1>タスク新規作成</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @task, local: true) do |f| %>
      <%= render 'shared/tasks_error_messages' %>
      
      <%= f.label :task_title, "名称" %><br>
      <%= f.text_field :task_title %><br>
      
      <%= f.label :details, "詳細" %><br>
      <%= f.text_area :details %>
      
      <%= f.submit "新規登録",class:"btn btn-primary btn-block btn-create-task" %>
    <% end %>
  </div>
</div>